 /* Custom Styles for Navbar */
 .navbar {
    background-color: #3f8205; /* Dark Blue */
    padding: 15px 0;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f1c40f !important; /* Golden Yellow */
}
.nav-link {
    color: #ecf0f1 !important; /* Light Grey */
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}
.nav-link:hover {
    color: #f1c40f !important; /* Golden Yellow on Hover */
}
.btn-primary {
    background-color: #f1c40f;
    border-color: #f1c40f;
    font-size: 1rem;
    padding: 5px 15px;
}
.btn-primary:hover {
    background-color: #d4ac0d;
    border-color: #d4ac0d;
}